[package]
name = "sessions"
version = "0.1.8"
authors = ["FangDun Tsai <cfddream@gmail.com>"]
description = "General sessions module for web services"
documentation = "https://docs.rs/sessions"
homepage = "https://github.com/viz-rs/sessions"
license = "Apache-2.0/MIT"
readme = "README.md"
edition = "2018"

[features]
default = []

memory = ["sessions-memory"]
redis = ["tokio-redis"]

tokio-redis = ["sessions-redis/tokio-comp"]
async-std-redis = ["sessions-redis/async-std-comp"]

[dependencies]
sessions-core = { path = "../sessions-core", version = "0.1.7" }
sessions-memory = { path = "../sessions-memory", version = "0.1.7", optional = true }
sessions-redis = { path = "../sessions-redis", version = "0.1.7", optional = true }

[dev-dependencies]
anyhow = "1.0"
nanoid = "0.3"

futures-executor = "0.3"
tokio = { version = "1.0", features = ["macros"] }
